<div class="wrap nav">
  <a href="/" class="brand">
    <img src="/assets/img/logo.png" alt="Hamcodes mascot" width="38" height="38">
    <span>Hamcodes <b>Books</b></span>
  </a>
  <nav class="nav-links" aria-label="Primary">
    <a href="/#downloads" data-nav="resources">Free resources</a>
    <a href="/books/" data-nav="books">Books</a>
    <a href="/#blog" data-nav="blog">Blog</a>
    <a href="/bro/" data-nav="bro">Bro 2 Bro</a>
    <a href="https://netizen.hamcodes.com" rel="noopener">Games &amp; course</a>
  </nav>
  <a href="/mentorship.html" class="btn btn-primary">Apply now</a>
</div>

<script defer data-domain="books.hamcodes.com" src="https://plausible.io/js/script.js"></script>
